.blocks {
  min-width: 75px;
  min-height: 50px;
  border-radius: 3px;
}

.two_h {
  min-height: 100px;
}

.two_w {
  min-width: 125px;
}

.four_h {
  min-height: 75px;
}

.four_w {
  min-width: 100px;
}