.radio-group {
  &-header {
    color: #6c6c6c;
  }

  &-content {
    margin-top: 15px;
  }
}

.radio {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-label {
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
    color: #6c6c6c;
    vertical-align: -webkit-baseline-middle;
    white-space: nowrap;
    cursor: pointer;
    
    &-container {
      display: inline-block;
      order: 0;
      padding-right: 0;
      padding-left: 8px;
      line-height: inherit;
    }
  }
}